---
---

/*@import 'bootstrap/bootstrap';*/
body {
	color:#111;
	font-size:14px;
	font-family: 'Quicksand', sans-serif;
}

H1 {
	color: #000;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}

H2 {
	font-weight: 600;
}

H3 {
	color: #FFF;
	font-size: 20px;
	font-weight: 600;
}

.center { 
	text-align: center;
 }

{% include_relative css_sites/footer.css %}
{% include_relative css_sites/head.css %}
{% include_relative css_sites/nav.css %}
