.footer {
	background-color: #404040; 
	color: #FFFFFF;
	
}
.socialicon {
	width: 30px;
	margin: 0 10px;
}

a {
	color: #FFF;
}
.para {
	background-image: url("/pictures/Skyline-MA%202.png");
    height: 250px;
    margin-top: 75px;   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}