.footer {
	background-color: #404040; 
	color: #FFFFFF;
	
}
.socialicon {
	width: 30px;
	margin: 0 10px;
}

a {
	color: #FFF;
}
.para {
	background-image: url("/pictures/Skyline-MA_bw.png");
	height: 365px;
	margin-top: 75px;
/* background-attachment: fixed; */
/* background-position: center; */
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -105px;

}