#person {
	margin-bottom: 100px;
}
.box-person {
	box-shadow: 10px 10px rgba(0,0,0,0.4);
	min-height: 600px;
	transition: width 0.3s, height 0.3s, transform 0.3s, box-shadow 0.3s;
	transition-timing-function: ease;
}
.box-person:hover {
	box-shadow: 15px 15px rgba(0,0,0,0.4);
	transform: scale(1.02,1.02);
	transition: width 0.3s, height 0.3s, transform 0.3s, box-shadow 0.3s;
	transition-timing-function: ease;
}

.blackbox {
	background-color: #000;
	display: inline-block;
	height: 8px;
	margin-top: 10px;
}

.main-title {
	background-color: #000;
	display: inline-block;
	transform: rotate(-5deg);
	color: #fff;
	padding: 0 20px;
	z-index: -1;
}

.aboutmebox {
	background-color: rgba(255,255,255,0.5);
	padding: 20px 0;	
}

.boxlink {
	color: inherit; !important;
}
.boxlink:hover {
	color: inherit; !important;
}
