---
---
{% include head.html %}
{% include nav.html %}

<div id="person">
<h1>Wer wir sind</h1>
<div class="row" style="padding:0 5%">
	{% for person in site.data.contentful.spaces.your_space_alias.person %}

	<div class="col-md-3">
		<div style="background-color: #{{ person.farbe }}; padding:5px 3%">
			<h2>{{ person.name }}</h2><br>
			Beschreibung: {{ person.beschreibung }}<br>
			Alter: {{ person.alter }}<br>
			Lebensmotto: {{ person.lebensmotto }}<br><br>
			<div>
			<h3>Meine Top 10</h3><br>
			<ol>
			{% for top10 in site.data.contentful.spaces.your_space_alias.top10 %}
				{% if top10.person.name == person.name %}
				<li>{{ top10.interpret }} – {{ top10.song }}</li>
				{% endif %}
			{% endfor %}
			<ol>
			</div>
		</div>
	</div>
	{% endfor %}

</div>

</div>

{% include footer.html %}