---
---
{% include head.html %}
{% include nav.html %}

<div id="person">
<div class="center"><h2 class="center main-title" style="font-size: 120px; padding-top: 20px;">Music4MA</h2></div>
<div class="row" style="padding:0 5%">
	{% for person in site.data.contentful.spaces.your_space_alias.person %}

	<div class="col-md-3">
		<div class="box-person" style="padding:5px 3%; background-color: #fff; border: 10px solid rgba({{ person.farbe }},1);">
			<div class="blackbox"><h2>{{ person.name }}</h2></div>
			<div class="aboutmebox">
				<p><strong>ABOUT ME<br>{{ person.beschreibung }}</p>
			</div>
			<p>Mein Alter: <strong>{{ person.alter }}</strong></p>
			<p>Mein Lebensmotto: {{ person.lebensmotto }}</p>
			<div>
			<h3><strong>Meine Top 10</strong></h3><br>
			<ol>
			{% for top10 in site.data.contentful.spaces.your_space_alias.top10 %}
				{% if top10.person.name == person.name %}
				<li><strong>{{ top10.interpret }} –</strong> {{ top10.song }}</li>
				{% endif %}
			{% endfor %}
			<ol>
			</div>
		</div>
	</div>
	{% endfor %}

</div>
</div>

{% include footer.html %}
