---
---
{% include head.html %}
{% include nav.html %}
<div style="background-image: url(/pictures/music.jpg); background-repeat: no-repeat; background-size: cover; background-color: #111;">
	<div class="center"><h2 class="center main-title" style="font-size: 120px; padding-top: 30px; margin: 50px 0;">Music4MA</h2></div>
</div>
<div id="person">
<div class="row" style="padding:0 5%">
	{% for person in site.data.contentful.spaces.your_space_alias.person %}

	<div class="col-md-3">
		<div class="box-person" style="padding:5px 3%; background-color: #fff; border: 10px solid rgba({{ person.farbe }},1);">
			<div class="blackbox" style="background-color: rgba({{ person.farbe }},1);"><h2 style="color: rgba({{ person.farbe }},1);y">{{ person.name }}</h2></div>
			<div class="aboutmebox">
				<p><strong>ABOUT ME</strong><br>{{ person.beschreibung }}</p>
			</div>
			<p>Ich bin <strong>{{ person.alter }}</strong> Jahre alt!</p>
			<div>
			<hr style="border:4px solid rgba({{ person.farbe }},1);"/>
			<h3><strong>Meine Top 10</strong></h3>
			<ol>
			{% for top10 in site.data.contentful.spaces.your_space_alias.top10 %}
				{% if top10.person.name == person.name %}
				<li><strong>{{ top10.interpret }} –</strong> {{ top10.song }}</li>
				{% endif %}
			{% endfor %}
			<ol>
			</div>
		</div>
	</div>
	{% endfor %}

</div>
</div>

{% include footer.html %}
