---
---
{% include head.html %}



<div class="row" style="padding: 10px 0 100px 0; background-image: url(/pictures/EBU_Colorbars.png); ">
  
    
        <div class="col-md-1">&nbsp;</div>
        
        <div class="col-md-3">
        <H3 style=" color: #000;">Hier ist unsere WG:</H3>
        <p> Das Wort Wohngemeinschaft (kurz WG) bezeichnet das Zusammenleben mehrerer unabhängiger, meist nicht verwandter Personen in einer Wohnung. Allgemeine Räume wie Badezimmer, Küche oder auch ein Wohnzimmer werden dabei gemeinsam genutzt.
        </p> 
        </div>
    
        <div class="col-md-8" style="width: 400px">
            <iframe width="400px" height="300px" src="https://www.google.com/maps?width=400&amp;height=300&amp;hl=de&amp;q=Coblitzallee 1-9,+ +68163 Mannheim&amp;ie=UTF8&amp;t=&amp;z=17&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            
        </div>
      
    
</div>
            





{% include footer.html %}