
<div class="footer">
<div class="row" style="background-color: #3366FF; color: #FFFFFF; padding: 20px 0; margin-top: 10px;">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-2">
        <p>Social Media Änderung</p>  
        <p>Bild Facebook</p>
    </div>
    <div class="col-md-2">
        <p>Links</p>
    </div>
     <div class="col-md-2">
        <p>Links</p>
    </div>
</div>

<div class="row" style="background-color: #000033; color: #FFFFFF; padding: 15px 0;">
<p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
    
</div>
	</body>
</html>