
<div class="footer">

  <div class="row" style="padding: 10px 0; margin-top: 10px;">
  
    
        <div class="col-md-2">&nbsp;</div>
      
        <div class="col-md-4"><H3 style=" color: #FFFFFF;">Mehr über unsere Seite</H3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p> 
        </div>
      
        <div class="col-md-2">&nbsp;</div>
      
        <div class="col-md-4">
    
    
<!-- Social Icons-->  
      <H3>Bleib in Kontakt</H3>
    
           <a href="http://facebook.de"> <img class="socialicon" src="/pictures/FB.svg" alt="Facebook" /> </a>
        
            <a href="http://whatsapp.de"> <img class="socialicon" src="/pictures/Whatsapp.svg" alt="Whatsapp" /></a> 
       
           <a href="http://instagram.de"> <img class="socialicon" src="/pictures/Instagram.svg" alt="Instagram" /> </a> 
    
        <a href="http://youtube.de"> <img class="socialicon" src="/pictures/Youtube.svg" alt="Youtube" /> </a>
            
        </div>
    </div>  
<!-- Ende der ersten Reihe -->

<!-- Anfang Impressum usw. -->
    <div class="row" style=" padding: 10px 0;">
      <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
            <div class="center">
                <a href="http://facebook.de"> Impressum </a>
                <a href="http://whatsapp.de"> Datenschutz </a>
                <a href="http://instagram.de"> Kontakt </a>
                
            </div>
        </div>  
        <div class="col-md-2">&nbsp;</div> 
</div>
<!-- Ende Impressum usw. -->
    
	</body>
</html>