
<div class="footer">

  <div class="row" style="padding: 20px 0; margin-top: 10px;">
  
    
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-4"><H3 style=" color: #FFFFFF;">AKTUELL</H3>
        <p>Wir leben alle in Mannheim und lieben Musik...
        </p></div>
       
      <div class="col-md-2">&nbsp;</div>
      
    <div class="col-md-4">
      
      <h5>Links</h5>
       <p> 1 </p>
       <p> 2 </p>
       <p> 3 </p>
    </div>
    </div>  

    <div class="row" style=" padding: 20px 0;">
      <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
            <div class="center">
                <img class="socialicon" src="/pictures/FB.svg" alt="Facebook" />
                <img class="socialicon" src="/pictures/Whatsapp.svg" alt="Facebook" />
                <img class="socialicon" src="/pictures/Instagram.svg" alt="Facebook" />
                <img class="socialicon" src="/pictures/Youtube.svg" alt="Facebook" />
            </div>
        </div>  
        <div class="col-md-2">&nbsp;</div> 
</div>
	</body>
</html>