		<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Music4MA</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/main.css">

	</head>
	<body>
        <div style="background-color: skyblue;">
            <div><img src="/pictures/Music4MA_logo.png" alt="logo" width="10%"/>
                <button style="margin-left:30px">Geben Sie Ihren Suchbegriff ein</button>
                <p style="float:right; margin:80px; margin-top:50px">Kontaktaufnahme info@music4ma.de</p>
                <h1 style="float:right; margin-top:20px">No music, no fun.<br>music for life. Fun for a lifetime.</h1>
            </div>
            
        </div>
        
  