		<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Music4MA</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/main.css">

	</head>
	<body>

    <div style="background-color: lightpink;">
    

  <div class="row">
    <div class="col-md-4">
      <img src="/pictures/Music4MA_logo.png" alt="logo" width="40%"/>
    </div>
    <div class="col-md-4">
        <h1>No music, no fun.<br>Music for life. Fun for a lifetime.</h1>
    </div>
      <div class="col-md-4">  
          <p><br><br><br>Kontaktaufnahme info@music4ma.de</p>
  </div>
</div>          
</div>