<div>
    <link rel="stylesheet" href="css/css_sites/nav.css">
    
    <div class="row">
        <a href="#home">Home</a>
            <div class="dropdown">
                
                <button class="dropbtn">Judith 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Top 10</a>
                    <a href="#">News</a>
                    <a href="#">Video</a>
                </div>
                
                <button class="dropbtn">Bianca 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Top 10</a>
                    <a href="#">News</a>
                    <a href="#">Video</a>
                </div>
                
                <button class="dropbtn">Karo 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Top 10</a>
                    <a href="#">News</a>
                    <a href="#">Video</a>
                </div>
                
                <button class="dropbtn">Jan 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Top 10</a>
                    <a href="#">News</a>
                    <a href="#">Video</a>
                </div>
            </div>
        
        <a href="#impressum">Impressum</a>
                <div class="dropdown">
                <button class="dropbtn">Kontakt 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Karte</a>
                    <a href="#">Kontaktformular</a>
                </div>
            </div>
        
  <a href="#ueberuns">Über uns</a>
</div>