<div class="row">
    <div class="container">
       <div class="dropdown">
           <button class="dropbtn">Home 
                <i class="fa fa-caret-down"></i>
           </button>
       </div>
        {% for person in site.data.contentful.spaces.your_space_alias.person %}
                <div class="dropdown">
                    <button class="dropbtn">{{ person.name }} 
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="personen/{{ person.name }}#top10">Top 10</a>
                        <a href="personen/{{ person.name }}#news">News</a>
                        <a href="personen/{{ person.name }}#video">Video</a>
                        </div>
                </div>
        {% endfor %}
            <div class="dropdown">
                <button class="dropbtn">Impressum 
                    <i class="fa fa-caret-down"></i>
                </button>
            </div>
        
            <div class="dropdown">
                <button class="dropbtn">Kontakt 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Karte</a>
                    <a href="#">Kontaktformular</a>
                </div>
                </div>
    
        <div class="dropdown">
            <button class="dropbtn">Über uns 
                <i class="fa fa-caret-down"></i>
            </button>
        </div>  
    </div>
</div>