    <div class="row" style="color:black">
        
       <div class="dropdown">
           <button class="dropbtn">Home 
                <i class="fa fa-caret-down"></i>
           </button>
       </div>
        
                <div class="dropdown">
                    <button class="dropbtn">Judith 
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Top 10</a>
                        <a href="#">News</a>
                        <a href="#">Video</a>
                        </div>
                </div>
                
                <div class="dropdown">
                    <button class="dropbtn">Bianca 
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Top 10</a>
                        <a href="#">News</a>
                        <a href="#">Video</a>
                    </div>
                </div>
                
                <div class="dropdown">
                    <button class="dropbtn">Karo 
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Top 10</a>
                        <a href="#">News</a>
                        <a href="#">Video</a>
                    </div>
                </div>
                
                <div class="dropdown">
                    <button class="dropbtn">Jan 
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Top 10</a>
                        <a href="#">News</a>
                        <a href="#">Video</a>
                    </div>
                </div>
        
            <div class="dropdown">
                <button class="dropbtn">Impressum 
                    <i class="fa fa-caret-down"></i>
                </button>
            </div>
        
            <div class="dropdown">
                <button class="dropbtn">Kontakt 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Karte</a>
                    <a href="#">Kontaktformular</a>
                </div>
                </div>
    
        <div class="dropdown">
            <button class="dropbtn">Über uns 
                <i class="fa fa-caret-down"></i>
            </button>
        </div>
        
</div>